<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head></head>
	<body>
		<div id style="font-family:Arial&;color:#5B9BD5;font-weight: 200;">
			<span style="font-size:12pt;color:#000000;font-weight: 200;">
			<b><p>С уважением, @NAME</p></span>
			<span style="font-size:9.0pt;font-weight: 200;">
			<p>@DESCRIPTION</p>
			<p>@COMPANY</p></b></span>
			<span style="font-size:8.0pt;font-weight: 200;">
			<p> @STREETADDRESS</p>
			<p> тел. @OFFICEPHONE e-mail:<a href="mailto:@EMAIL">@EMAIL</a></span>
		</div>
	</body>
</html>










