<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head></head>
	<body>
		<div id style="font-family:Arial&;color:#5B9BD5;">
			<span style="font-size:10pt;color:#000000;">
			<b><p>С уважением</p><p>@NAME</p></span>
			<span style="font-size:9.0pt;">
			<p>&nbsp;</p>
			<p>@DESCRIPTION</p>
			<p>@COMPANY</p></b>
			<p> &nbsp;</p></span>
			<span style="font-size:8.0pt;">
			<p> @POSTALCODE, @CITY, @STREETADDRESS</p>
			<p> тел.@OFFICEPHONE</p>
			<p> <a href="http://@WEBSITE">@WEBSITE</a></p>
			<p>e-mail:<a href="mailto:@EMAIL">@EMAIL</a></span>
		</div>
	</body>
</html>










